.formAdd{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 35vh;
    box-shadow: 0px 5px 10px 0px;
    border-radius: 10px;
    background-color: rgb(211, 236, 255);
    color: rgb(143, 145, 148);
    padding: 2rem;
}

.formAdd fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.formAdd section {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-left: 10%;
}

.formAdd input {
    height: 1.5rem;
    border-radius: 5px;
}

.formAdd select {
    height: 1.7rem;
}

.formAdd button:hover {
    background-color: rgb(248, 248, 248);
    color: black;
}

.formAddContainer{
    display: flex;
}