.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    color: rgb(57 61 82);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    width: 90%;
  }

  .topArea{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
  }

  